body {
   /* margin-left: 25%;
    margin-right: 25%;*/
    background: rgb(241, 255, 228);
}

div{
    text-align: center;
}

form{
    text-align: center;
}

input[type="button"]{
    background: green;
    border: 1px solid darkgreen;
    border-radius: 5px;
    padding:0.5%;
    margin: 1%;
    color: ivory;
    font-size: 16px;
}
input[type="text"]{
    background: #A0F34D;
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 5px;
    padding:0.5%;
    margin: 0.5%;
}

table{
    border: 1px solid green;
    box-sizing: border-box;
    border-radius: 5px;
}
td{
    background: #A0F34D;
    border: 1px solid green;
    text-align: center;

}
